@import "bourbon";

$default-font: "raleway", sans-serif;
$second-font: "firasans", sans-serif;
$icon-font: "FontAwesome";

/* COLORS 
================ */
$accent: #F9C766;
$blue:   #66C7CD;
$red:    #F86868;



/* MIXIN 
================== */

// Classic clearfix
@mixin cf {
	&::after {
		content:"";
		display: table;
		clear: both;
	}
}

// inline block
@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

//responsive (rem)
@function rem($px) {
  @return $px / 16px + 0rem;
}
